html, body{
	padding:0;
	background:#F2F2F2;
	z-index:0;
	min-width:320px;
}
#content{
	z-index:1;
	margin-top:50px;
	text-align:left;
}
#container{
	width:100%;
}
#masthead{
	width:100%;
	min-width:320px;
	top:0;
	left:0;	
	position:fixed;
}
#masthead .nav{
	position:absolute;
	height:50px;
	width:100%;
	background:#FAFAFA;
	z-index:5;
	box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
	              0 0 2px hsla(211,79%,6%,.15);
	-webkit-box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
				  0 0 2px hsla(211,79%,6%,.15);
	-moz-box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
				  0 0 2px hsla(211,79%,6%,.15);


}
#masthead .nav ul{
	list-style-type:none;
	padding:0;
	margin:0;
	position:relative;
	height:50px;
	z-index:10;
	width:300px;
	margin-top:0px;
	margin:auto;
}
#masthead .nav ul li{
	float:left;
}
#masthead .nav ul li a{
	color:#333333;
	text-decoration:none;
	text-align:center;
	padding-top:15px;
	height:35px;
	display:block;
	width:100px;
}
#masthead .nav ul li a:hover{
	cursor: pointer;
}
.current{
	box-shadow: inset 0 -5px 0 -1px #35A2FF;
	-webkit-box-shadow: inset 0 -5px 0 -1px #35A2FF;
	-moz-box-shadow: inset 0 -5px 0 -1px #35A2FF;
}
.current a:hover{
	box-shadow: inset 0 -5px 0 -1px #35A2FF;
	-webkit-box-shadow: inset 0 -5px 0 -1px #35A2FF;
	-moz-box-shadow: inset 0 -5px 0 -1px #35A2FF;
}
.taps{
	max-width:800px;
	margin:auto;
}
.resizeme{
	max-width:800px;
	margin:auto;
}
.robotics{
	max-width:800px;
	margin:auto;
}
.taps img{
	margin-left:75px;
}
.taps-details{
	position:absolute;
	margin-top:-400px;
	margin-left:420px;
	padding-top:10px;
	width:200px;
	height:25px;
	background:#DDDDDD;
	border:solid 1px hsla(211,79%,6%,.1);
	border-radius:5px;
	text-align:center;
	box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
	              0 0 2px hsla(211,79%,6%,.15);
	-webkit-box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
				  0 0 2px hsla(211,79%,6%,.15);
	-moz-box-shadow: 0 2px 2px hsla(211,79%,6%,.1),
				  0 0 2px hsla(211,79%,6%,.15);
}
#avatar img{
	padding:5px;
	background:#FFFFFF;
	border:1px solid #DDDDDD;
}
#contact{
	margin:auto;
	width:400px;
}
#contact form{
	margin:10px;
}
#contact textarea{
	margin-top:5px;
	resize:none;
	word-wrap:normal;
	font-size:12px;
	width:100%;
	height:200px;
}
#contact button{
	margin-top:10px;
	margin-left:160px;
	width:75px;
	height:30px;
}