/* @group General Styles */
body {
	color: #464646;
	background: #121212;
	margin: 0;
	padding: 0;
	font: 0.75em/normal "Lucida Grande", Lucida, Verdana, sans-serif;
}

#completegradient{
	background: url(gradtopblack.png) repeat-x 0 top;
	position: absolute;
	top: 0;
}

p {
}

b, strong {

}

a:link, a:visited {
}

a:hover, a:active {
}

img {
	border: none;
}

.image-left {
	padding-right:10px;
	float: left;
}

.image-right {
	padding-left: 10px;
	float: right;
}
	
/* @end */

/* @group Layout */

#container {
	position: relative;
	z-index: 1;
}

.clearer {
	clear: both;
}

#pageHeader {
    position:relative;
    height: 100px;
}

#pageHeader img {
}

#pageHeader h1 {
}

#pageHeader h2 {
}

#contentContainer {
	z-index: 2;
}

#sidebarContainer {
	width: 200px;
	font-size: 0.95em;
	line-height: 1.45em;
	margin-bottom: 20px;
	position: relative;
	z-index: 100;
}

#sidebarContainer #sidebar {
	padding: 0 0 15px;
}

#sidebarContainer .sideHeader {
}

#footer { 
}

#footer p {
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}
	
/* @end */
/* @group Bread-crumb */

#breadcrumbcontainer {
}

#breadcrumbcontainer ul {
}

#breadcrumbcontainer li {
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
}

#navcontainer #current {
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
}

#navcontainer li {
}

#navcontainer a {
}

#navcontainer a:hover {
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

#navcontainer ul ul .currentAncestor {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{
}

#navcontainer ul ul ul #current{
}

#navcontainer ul ul ul .currentAncestor {
}
/* Child Level 3 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{
}

/* Child Level 4 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul a:hover{
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul ul a:hover{
}

/* @end */

/* @group Global Classes */

blockquote, .standout {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.imageStyle {
}



/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-latin;
}

ol.lower-alpha {
	list-style-type: upper-latin;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Table Styles */
table {
}
/* @end */


/* @group Blog */

/* @group Tag Cloud */

ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 10px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	margin-bottom: 5px;
}

.blog-archive-link {
	margin-bottom: 20px;
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* @end */

p.blog-entry-tags{
	padding: 2px 10px;
	margin-right: 20px;
	margin-left: 20px;
	border-left: 1px solid #3f3f3f;
}

.blog-entry {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.blog-entry-title {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	letter-spacing: 1px;
	font-size: 0.9em;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-left: 20px;
	background: url(images/date.gif) no-repeat left 3px;
	border-top: 1px solid #3f3f3f;
	border-bottom: 1px solid #3f3f3f;
	padding-bottom: 5px;
}

/*styles the category link in the main entry */

.blog-entry-category {
	padding-top: 2px;
	padding-left: 20px;
	margin-right: 10px;
	background: url(images/category.png) no-repeat left 0px;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	margin-top: 10px;
}

/* Comment links */

a.blog-comment-link {
	padding-left: 20px;
	margin-right: 5px;
	background: url(images/comment.png) no-repeat left center;
}

/* Trackback links */

a.blog-trackback-link {
	padding-top: 2px;
	padding-left: 20px;
	background: url(images/trackback.png) no-repeat left 0px;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
	padding-top: 2px;
	padding-left: 20px;
	background: url(images/trackback.png) no-repeat left 1px;
}

.blog-archive-link-disabled {
	padding-left: 20px;
	background: url(images/trackback.png) no-repeat left 1px;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	margin-bottom: 10px;
}

.blog-category-link-enabled {
	padding-top: 2px;
	padding-left: 20px;
	background: url(images/category.png) no-repeat left 0px;
}

.blog-category-link-disabled {
	padding-left: 20px;
	background: url(images/category.png) no-repeat left 0px;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
}

.blog-rss-link {
	display: block;
	line-height:40px;
	padding-left: 50px;
	background: url(images/rss_icon.png) no-repeat top left;
}

.blog-comments-rss-link {
	padding-left: 15px;
	background: url(images/rss_icon.png) no-repeat left 1px;
}

/* Styles the elsewhere online in the blog sidebar */
#blog-elswhere-online {
	display: block;
}

.blog-twitter-link {
	display:inherit;
	margin-top:15px;
	line-height:40px;
	padding-left: 50px;
	background: url(images/twitter_icon_sm.png) no-repeat top left;
}

.blog-facebook-link {
	display:inherit;
	line-height:40px;
	padding-left: 50px;
	background: url(images/facebook.png) no-repeat top left;
}

/* @end */



/* @group File Sharing */

.filesharing-description {
	background: #e2eeff;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	margin: 0px 0px 15px;
	border: 2px solid #6e6e6e;
}

.filesharing-item {
	margin-top: 0;
	padding: 10px 0;
	background: #252525 url(images/down.png) no-repeat left top;
	margin-right: 15px;
	margin-left: 15px;
}

.filesharing-item-title {
		font-size: 150% ;
	margin-left: 75px;
	margin-right: 20px;

}

.filesharing-item-title a:link {
	color: #0000ee;
	text-decoration: underline;
	background: #626262 none no-repeat 440px 6px;
	padding: 5px;
	display: block;
}

.filesharing-item-title a:hover {
	text-decoration: none;
	background: #8a8a8a none no-repeat 440px 6px;

}

.filesharing-item-description {
	text-align: justify;
	font: normal 0.85em Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
	margin-bottom: 5px;
}

/* @end */





/* @group Photo Album */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
}

.album-description {
	margin-bottom: 75px;
	margin-top: 5px;
} 

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 13px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	margin: auto;
	border: 3px solid #dbdbdb;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 10px;
}

.photo-navigation {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	text-align: left;
}

.photo-navigation a:link, .photo-navigation a:visited {

}

.photo-navigation a:hover {

}

.photo-frame{
	background: #f8f8f8;
	padding: 5px;
}

.photo-links {

}

.photo-title {
	font-weight: normal;
	font-size: 1.9em;
	margin: 0 0 3px;

}

.photo-caption {

}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	color: #fff;
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Index Page (Thumbnail view) */

.album-title {
}

.album-description {
}


.album-wrapper {
}

.thumbnail-wrap {
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
}

.thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
}

.photo-links {
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {
}

.photo-frame{
}

.photo-title {
}

.photo-caption {
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
}

.exif-data p {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
}

.movie-page-description {
}

.movie-thumbnail-frame {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
}

.movie-frame {
}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text {
	width: 80%;
} 

.required-text {
} 

.form-input-field {
	width:60%;
	font-size: 18px;
	color: #666;
	background-color: #f9f9f9;
} 

.form-input-button {
	margin: 0;
	padding: 0;
} 

.form-input-button { 
} 
/* @end */

/* @group Ajax CSS */
#secondlogo {
    display:none;
    position:relative;
    top:-124px;
}
#secondlogo img{
    height:138px;
    width:130px;
}

h1.sitelogo {
    position:absolute;
    margin-top: 15px;
}
h1.sitetitle {
	font: 25px/normal "Lucida Grande", Lucida, Verdana, sans-serif;
	/*text-shadow: #000 0 0 3px;*/
	text-align: center;
	margin-top: 21px;
	display: block;
}

h1.siteslogan {
	font: 14px/normal "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	/*text-shadow: #000 0 0 3px;*/
}

#wrapper {
	width: 730px;
	margin: 18px auto 30px;
	background: url(images/headergrid.png) no-repeat center top;
	border:12px solid #2e2e2e;
	position:relative;
	padding: 5px 0 25px;
}

#padding{
	padding-right: 25px;
	padding-left: 25px;
}

h1.hidenheader {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0.3em 0;
	text-indent:-99999px;
}

.nav {
	list-style: none;
	padding: 0;
	margin: 10px 0 20px 0;
	background: #2e2e2e url(images/nav_bar.jpg) repeat-x;
	display: block;
	font-size: 0.9em;
	height:33px;
}
.nav li {
	display: inline;
}
.nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
.nav li a:hover {
	background: #1b1b1b url(images/nav_bar_o.jpg) repeat-x;
}

#load {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 43px;
	height: 43px;
	text-indent: -9999em;
}

#content {
    width: 100%;
}

h2 {
	margin: 0;
	padding: 0.5em 0;
	color:#568945;
	font-family:Helvetica, Arial, Sans-serif;
}

p {
	margin: 0;
	padding: 0.4em 0;
	color:#686868;
	line-height:1.4em;
}

#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}

#foot img{
    position:relative;
    width:100%;
}

#foot{
	padding: 15px;
	color: #FFFFFF;
    text-align: center;
	margin: 30px 0 0 0;
}

/* @end */

/* @group Menu */

#header_image {
	position:relative;
	height:0;
	z-index:85;
	padding-top: 80px;
}

#menu {
	background:transparent;
	padding:10px;
	height:60px;
	margin-top:-80px;
}

#menu .menu_container {
	height:48px;
	line-height:48px;
	margin:0px 11px 0 0;
	padding:11px 0 0 11px;
}

#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	height:37px;
	line-height:37px;
	background:center left transparent repeat-x;
	position:relative;
}

/* This is the menu text size */

#menu ul li {
    float: left;
	height: 1%;
	font-size:.9em;
}

#menu ul li li {
	font-size:1em;
}

#menu ul li ul {
	list-style-type:none;
	margin:0;
	padding:5px 0 5px 0;
	height:auto;
	width:auto;
	position:absolute;
	top:36px;
	left:0;
	display:none;
	/*opacity:.9;*/
	/*filter: alpha(opacity=90);*/
	background:#313131;
	border:0px none;
}


#menu ul li ul ul {
	/*filter:none;*/
	/*opacity:1;*/
	background:none;
}

#menu ul li:hover {
	position:relative;
	z-index:90;
}

#menu ul li:hover ul {
	display:block;
}

#menu ul li ul ul {
	position:relative;
	top:0;
	padding:0;
	margin:0;
}

#menu ul li {
	background:none;
	padding:0;
	vertical-align:middle;
	float:left;
	position:relative;
	height:37px;
	line-height:37px;
	position:relative;
}

#menu ul li li {
	clear:both;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	white-space:nowrap;
	display:block;
	position:relative;
	line-height:1.3em;
}

#menu ul li li li {
	padding:0 0 0 2em;
}

* html #menu ul li li {
	width:200px;
}

#menu ul li a {/* use this padding to adjust the text after removing navicons... 
					with nav icons turned on padding: 0 10px 0 50px;*/
	display:block;
    padding:0 15px 0 15px;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
	height:37px;
	line-height:37px;
	white-space:nowrap;
}

#menu ul li a.currentajaxpage{
	display:block;
    padding:0 15px 0 15px;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
	height:37px;
	line-height:37px;
	white-space:nowrap;
}

#menu ul li ul li a.currentajaxpage img {
	display:none;
}

#menu ul li a.currentajaxpage img{
	position: absolute;
	margin-top: -1px;
	left: 0;
	padding-left: 5px;
	border: none;
}
* html #menu ul li a {
	width:45px;
}

* html #menu ul li li a, * html #menu ul li li ul {
	width:100%;
}

#menu ul li ul li {
    padding:2px 5px 5px 5px;
}

#menu ul li ul li a {
	text-transform:none;
	display:block;
	font-weight:normal;
	position:relative;
	color:#ffffff;
	text-decoration:none;
	height:18px;
	line-height:2.5em;
}

#menu ul li ul li ul li a{
    height:20px;
}

/*#menu ul li a img{
	display:none;
}*/



html>body #menu .menu_container {
	background-image:url(images/menu/black_first_menu_3border.png);
}


.menu_end {
	right:0px;
	width:21px;
	height:81px;
	background:transparent center left no-repeat;
	position:absolute;
	bottom:0;
    top: -1px;
}

html>body .menu_end {
	height:81px;
}

/* Current Item */
#menu ul li.top_parent a, #menu ul li:hover a, #menu ul a.currentajaxparent, #menu ul a.currentajaxpage  {
	background-image: url(images/menu/reflect.png);
}


#menu ul li li a {
	background-image:none !important;
	/*filter:none !important;*/
}
/*
#menu ul li li a:hover, #menu ul li li.currentajaxpage a {
	color:#ff6600;
}

#menu ul li li a:hover, #menu ul li li.currentajaxpage a:hover {
	color:#ff6600;
}
*/
#menu ul li li.currentajaxpage li a {
	color:#ffffff;
}

#menu ul li:hover a, #menu ul li a:hover {
	background-color: #000;
}
/*
#menu ul li.currentajaxparent:hover a, #menu ul li.currentajaxparent a:hover, #menu ul li.currentajaxparent a, #menu ul li.currentajaxpage:hover a, #menu ul li.currentajaxpage a:hover, #menu ul li.currentajaxpage a, #menu ul li.currentajaxparent a, #menu ul li.currentajaxpage a {
	background-color:#ff6600;
}*/

#menu ul li li a:hover, #menu ul li li.currentajaxpage a {
}

#menu ul li li.currentajaxpage a:hover {
}

#menu ul li.top_parent:hover a, #menu ul li.top_parent a, #menu ul a.currentajaxparent, #menu ul a.currentajaxpage {
}

#menu ul li.currentajaxparent li a, #menu ul li.currentajaxparent li a, #menu ul a.currentajaxpage li, #menu ul li.currentajaxpage li a, #menu ul li li a {
	background-color:transparent !important;
}

#menu .menu_container li.last_menu {
	float:right;
}

#secondsidebarmenuend{
	position: absolute;
	float: right;
	top: 170px;
	right: 20px;
	z-index: 1000;
}

#secondsidebartopleft{
	float: left;
	position: absolute;
	top: 5px;
	left: 5px;
}

#topheader{
    position:absolute;
    top:-17px;
    width: 100%;
    text-align:center;
}

#footer-right {
    padding-top: 20px;
}

#footer-right a img{
    width:149px;
	height:40px;
}
#footer-external {
	display:inline-block;
}
.footer-break:hover {
	display:inline-block;
}
.footer-twitter {
	display:inline-block;
	line-height:20px;
	padding-left: 22px;
	margin-right:19px;
	width:20px;
	height:20px;
	background: url(images/footer-twitter.png) no-repeat left center;
}
.footer-facebook {
	display:inline-block;
	line-height:20px;
	padding-left: 22px;
	margin-right:34px;
	width:20px;
	height:20px;
	background: url(images/footer-facebook.png) no-repeat left center;
}
.footer-rss {
	display:inline-block;
	line-height:20px;
	padding-left: 22px;
	width:20px;
	height:20px;
	background: url(images/footer-rss.png) no-repeat left center;
}

#topheader a {
    text-decoration: none;
}

#searchform{
	z-index: 1000;
}

/* @end */

