body {
	background-color: #000000;
}

#topheader {
    background-color: #000000;
}

#topheader a:link { 
    color: #FFFFFF;
}

#topheader a:visited { 
    color: #FFFFFF;
}

#topheader a:hover { 
    color: #2194CC;
}

#topheader a:active { 
    color: #3399CC;
}

#wrapper {
	background-color: #000000;
	color: #FFFFFF;
}

#pageHeader h1 {
	color: #FFFFFF;
}


#pageHeader h2 {
	color: #FFFFFF;
}

h1 {
	color: #9E9E9E;
}

h2 {
	color: #9E9E9E;
}

h3 {
	color: #9E9E9E;
}

h4 {
	color: #9E9E9E;
}

h1.blog-entry-title {
		color: #C5C5C5
}

.blog-entry-title a {
	color: #C5C5C5
}

.blog-entry-category a {
	color: #C5C5C5
}

.blog-read-more a{
	color: #C5C5C5;
}

ul.blog-tag-cloud a{
	color: #C5C5C5

}

.blog-entry-tags a {
	color: #C5C5C5
}

a.blog-category-link-enabled {
	color: #C5C5C5
}

#menu ul li.currentajaxparent:hover a, #menu ul li:hover a, #menu ul li.currentajaxpage:hover a, #menu ul li a:hover { /*, #menu ul li a:hover {*/
	background-color: #2194CC;
}

h1.sitetitle{
	color: #FFFFFF;
}

h1.siteslogan{
	color: #FFFFFF;
}

div#wrapper div#content div#contentContainer a:link  {
	color: #FFFFFF;
}

div#wrapper div#content div#contentContainer a:hover {
	color: #3399CC;
}

div#wrapper div#content div#contentContainer a:visited {
	color: #FFFFFF;
}

div#wrapper div#content div#contentContainer a:active {
	color: #FFFFFF;
}

div#wrapper div#content div#sidebarContainer a:link  {
	color: #FFFFFF;
}

div#wrapper div#content div#sidebarContainer a:hover {
	color: #3399CC;
}

div#wrapper div#content div#sidebarContainer a:visited {
	color: #FFFFFF;
}

div#wrapper div#content div#sidebarContainer a:active {
	color: #FFFFFF;
}

div#foot a:link {
	color: #FFFFFF;
}

div#foot a:hover {
	color: #3399CC;
}

div#foot a:visited {
	color: #FFFFFF;
}

div#foot a:active {
	color: #FFFFFF;
}

#wrapper {
	border-color: #2E2E2E;
}

div#menu ul a {
	color: #FFFFFF;
}

#menu ul a.currentajaxpage{
	background-color:#3D3D3D;
}

#menu ul a.currentajaxpage:hover{
	background-color:#2194CC;
}

#menu ul li ul li a.currentajaxpage{
	color:#57BE36;
}

#menu ul li ul li a.currentajaxpage:hover{
	color:#2194CC;
}

#menu ul li ul li a:hover{
	color:#2194CC;
}

#menu ul li a.currentajaxpage{
		color:#FFFFFF;
}

#menu ul li a.currentajaxpage:hover {
	color:#FFFFFF;
}
