body{
  height: 2000px;
}

.App {
  text-align: center;
}

.ProjectList {

}

.ProjectList ul {
  list-style: none;
  padding: 0;
}

.ProjectList li {
  width: 100%;
  height: 250px;
}

.Project{
  background-color: rgb(49, 223, 108);
  width: 60%;
  height: 100%;
  text-align: center;
  padding: 0 40px;
  float: left;
}

.Demo{
  margin-left: 60%;
  height: 100%;
  background-color: rgb(255, 168, 0);
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}
