body{
}

.App {
  text-align: center;
}

.ProjectList {
  padding-top:50vh;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 100%;
  height: 50vh;
}

.react-parallax{
  height:100%;
}

.Project{
  background-color: white;
  width: 60%;
  height: 100%;
  text-align: center;
  padding: 0 40px;
  float: left;
}

.Demo{
  margin-left: 60%;
  height: 100%;
  background-color: white;
}

.About {
  background-image: linear-gradient(rgb(53, 154, 255), rgb(4, 7, 10) 85%);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  left: 0;
  position: fixed;
  z-index:-1;
}
