@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

body{
  width: 100%;
}

.App {
  text-align: center;
}

.About>ul>li{
  height: 100%;
  min-height: 750px;
  border: none;
}

.About {
  background-color:white;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
}

.name{
  margin: auto;
  width: 60%;
  padding-top: 20px;
}

.name p{
  text-align: left;
  text-indent: 30px;
}

.viewProjects{
  width: 100%;
  position: relative;
  height: 40px;
  top: 10px;
}

.viewProjects a{
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px;
  text-decoration: underline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.viewProjects a:hover{
  cursor: pointer;
  text-decoration: none;
}

.ProjectList {
  margin-top:100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  height: 50vh;
  min-height: 500px;
  border-top:1px solid #D7D7D7;
  background-color: white;
}

.react-parallax{
  width: 100%;
  height:100%;
}

.react-parallax img{
  height:100vh;
}

.Image{
  height: 100vh;
}

.Project{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}

.ProjectInfo{
  display: inline;
  width: 40%;
  min-width: 350px;
  text-align: center;
  margin: 0;
  float: left;
  margin-top: 65px;
}

.ProjectName{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  padding: 20px 0;
}

.Project p{
  text-align: center;
  padding: 0 5%;
}

.technologies{
  margin:auto;
  width: 80%;
  border-top: 1px solid #D7D7D7;
  padding-top: 20px;
  overflow: hidden;
}

.technology{
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
}

.Demo{
  display: inline;
  float: right;
  width: 60%;
}

.DemoAnimation{
  width: auto;
  max-height: 430px;
  height:auto;
}

svg {
  width: 100%;
  height: 100%;
  background-color:white;
}

.text {
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  fill: url(#gr-simple);
}

@media screen and (max-width: 1280px) {

    .Project{
      height: auto;
      display: block;
    }

    .ProjectInfo{
      width: 100%;
      margin-top:5px;
    }

    .Demo{
      width: 100%;
      margin-top:45px;
    }

    .DemoAnimation{
     margin: 0px auto;
    }

    li {
     height: 700px;
    }

    .Image{
      /*height: 100vh;*/
    }
    .Image img{
      width:200%;
      /*margin-left:-100vw;*/
    }

}
